/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

body{
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}


.slider-section{
	width: 50em;
	height: 22em;
	background: #FABBDC;
}

img{
	width: 192px;
}

.center-text{
	text-align: center;
}

.center{
	margin: 0 auto;
}

.brwn-text{
	color: #663300;

}

.mrgn-top{
	margin-top: .5em;
}

.dsply-blk{
	display: block;
}

.cols{
	float: left;
	width: 12em;
	height: 18em;
	margin-top: 1.5em;
	margin-left: .5em;
	position: relative;
}

a{
	text-decoration: none;
}

/*.opacity-hover:hover{
	overflow: hidden;
	float: left;
    background: #663300;
    opacity: .3;
    cursor: pointer;
}*/


button{
	position: absolute;
	bottom: 0;
}

.center-button{
	margin-left: 4em;
}

.cpb-mask:hover{
	width: 192px;
	overflow: hidden;
	background-color:#663300;
	background: url(images/cpb-mask.png)
	mask-image:url(images/cpb-mask.png) cover;
	-webkit-mask-image: url(images/cpb-mask.png);
}